@tailwind base;
@tailwind components;
@tailwind utilities;



.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  background-color: black;
  padding-top: 20px;
  
  
}
.childContainers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 250px;
}
.childContainer1 {
  font-weight: 900;
  color: white;
  font-size: 40px;
  text-align: center;
}

.childContainer2 {
  font-weight: 400;
  color: white;
  font-size: 18px;
  font-family: monospace;
  text-align: start;
}
.name {
  color: rgba(246, 122, 6, 0.832);
}

.image{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: azure;
}